#background-image{
    background-size: cover;
    width: 107vw;
    /* float: left; */
    top: 0;
    padding: none;
    position: fixed;
    z-index: -100;
}
.section1 {
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}
.slogan {
    font-size: 3em;
    color: rgb(26, 26, 26);
    width: 100%;
    text-align: center;
    padding-top: 6em;
  }
.btn-home {
    width: 100%;
    text-align: center;
    padding-top: 3em;
} 

.span-intersection {
    height: 10em;
    background-image: linear-gradient(to right, rgb(116, 188, 196) , rgb(153, 189, 199));
}
.info-parraf {
    font-size: 2em;
    padding-top: 1.5em;
    color: rgb(247, 247, 247);
    text-align: center;
}

.section2 {
    background-image: url('../components/image/image01.png');
    background-size: cover;
    width: 100vmax;
    height: 760px;
}
.info-icon-pack {
    margin-top: 15em;
}
.icon {
    width: 20%;
    margin-left: 40%; 
}

.text-icon {
    text-align: center;
    width: 100%;
    font-size: 0.9em;
    margin-top: 0.8em;
    margin-bottom: 3em;
}
.section4 {
    background-image: url('../components/image/app.png');
    background-size: cover;
    width: 100vmax;
    height: 760px;
}
.section3 {
    /* background-color: rgb(247, 247, 247); */
    background-image: linear-gradient(to right, rgb(116, 188, 196) , rgb(153, 189, 199)); 
}
.caja-testimonios {
    margin-right: 9em;
}
.testimonio {
    font-size: 1em;
    text-align: left;
    padding-top: 3em;
    color: rgb(245, 245, 245);                                            
}
.testimonio-professional {
    padding-top: 4em;
}
.name-testimonio {
    text-align: right;
    color: rgb(247, 247, 247); 
}
.name-professional {
    padding-top: .5em;
    color: rgb(247, 247, 247); 

}
.image-testimonio {
    width: 50%;
    border-radius: 50%;
    margin-left: 50%;
    margin-top: 2.8em;
}

.info-opt-app {
    color: rgb(26, 26, 26);
    font-size: 19px;
    width: 20%;
    text-align: right;
    margin-left: 50em;
}
.one {
    padding-top: 12em;
}
.two {
    margin-top: 4em;
}


.footer {
    background-color:  rgb(26, 26, 26);
    color:  rgb(247, 247, 247);
    height: 60px;
}
.info-business {
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.footer h3 {
    padding-top: .4em;
    margin-left: 1.2em;
}
.made-with {
    margin-right: 2.5em;
    padding-top: 1em;
}
.link-footer {
    color: rgb(247, 247, 247);
    text-decoration-line: none;
}
.link-footer:hover {
    color: rgb(71, 214, 224);
    text-decoration-line: none;
}