/* .container-home {
    position: fixed;
    background-color: aquamarine;
    opacity: .5;
    z-index: 10;
} */

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    color: rgb(26, 26, 26);
}
.logo-session {
    margin-top: 0.2em;
}
.container {
    max-width: 95%;
}
.col-md-4 {
    margin-top: 1.3em;
    text-align: right;
}
.link-simple {
    margin: 1.2em;
}
.link:hover { 
    color: rgb(71, 214, 224);
    text-decoration-line: none;
}
.logo-link:hover {
    color: rgb(71, 214, 224);
    text-decoration-line: none;
}
.identity {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8em;
    align-items: center;
    margin-top: 1.2em;
    margin-right: 2em;
}
.saludo {
    margin-right: 1.1em;

}
.image-user {
    width: 50px;
    border-radius: 50%;
    padding-bottom: 1.1px;
    padding-right: .6em;
}
.link-professional {
    font-size: 1.1em;
    margin-left: 1.1em;
}
.btn-link {
    color: rgb(26, 26, 26);
}


    

