.patient-card {
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(207, 206, 206);
    background-color: rgb(252, 252, 252);
    width: 25%;
    margin-top: 1.2em;
    margin-right: 2.5%;
    margin-bottom: 20px;
    margin-left: 4%;
}

.photo-patient {
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
    border-radius: 50%;
}
h2 {
    text-align: center;
    margin-top: .5em;
}
p {
    text-align: center;
}
.btn-details {
    margin-left: 35%;
    margin-bottom: 1.2em;
}
