.details-patients-title {
    padding-top: .5em;
    padding-left: 2em;
}
.name-patient {
    padding-top: 2em;
    text-align: left;
}
.email {
    text-align: left;
    margin-bottom: 3em;
}
.info-patient {
    text-align: left;
}
.image-patient {
    width: 60%;
    margin-right: 10%;
    margin-top: 10%;
    border-radius: 5%;
}
.boton-volver-patient {
    margin-left: 47%;
    margin-bottom: 1em;
}
.chat {
    position: absolute;
    bottom: 0;
}

