.patient-card {
    border: .4px solid rgba(116, 116, 116, 0.06);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(235, 235, 235);
    background-color: rgb(250, 250, 250);
    width: 25%;
    margin-top: 1.5em;
    margin-right: 2.5%;
    margin-bottom: 20px;
    margin-left: 4%;

    display: inline-block;
    transition-duration: 0.4s;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateZ(0);
}
.patient-card:hover {
    transform: scale(1.1);
    background-color: rgb(238, 238, 238);
}

.photo-patient {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    border-radius: 50%;
}
.username-patient {
    text-align: center;
    font-size: 22px;
    margin-top: 1em;
}
.informacion {
    text-align: center;
    font-size: 12px;
}
.information-two {
    margin-top: -10px;
}

.btn-details {
    margin-left: 35%;
    margin-bottom: 1.2em;
}

.patient-card:hover {
    transform: scale(1.1);
}
