.background-form {
    background-image: url('../components/image/image04.jpg');
    background-size: cover;
    width: 100vmax;
    height: 760px;
}

h4 {
    text-align: center;
    padding-top: 1em;
}
.form-professional {
    width: 60%;
    margin: 0 auto;
}
.form-control {
    width: 70%;
    margin-left: 15%;
}
.title {
    margin-left: 15%;
}

.btn-click {
    display: flex;
    justify-content: center;
}
Button {
    margin-right: 2%;
}
Link {
    margin-left: 2%;
}
