.details-autoregisters-title {
    margin-top: .5em;

}
.image-context {
    width: 120%;
    border-radius: 5%;
}
.first-details-register {
    margin-top: 1em;
}
.title-register-detail {
    margin-bottom: 1.5em;
}
.boton-volver-register {
    margin-left: 45%;
}