.image-context {
    width: 100%;
    border-radius: 5%;
}
.first-details-register {
    margin-top: 2em;
}
.title-register-detail {
    margin-bottom: 1.5em;
}
.boton-volver-register {
    margin-left: 45%;
}