body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: rgb(26, 26, 26);
  font-size: 1.2em;
}

.form-control {
  width: 40%;
}

.title-window {
  text-align: center;
  padding-top: .5em;
}

.bsClass {
  background-color: brown;
}
