body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: rgb(26, 26, 26);
  font-size: 1.2em;
}

.form-control {
  width: 40%;
}

.title-window {
  text-align: center;
  margin-top: .6em;

}
.btn-add-patient {
  width: 7%;
  margin-left: 46.5%;
  margin-bottom: 1.1em;
}
.add-patient-p {
  margin-left: 43.5%;
}
.add-autorregister-p {
  margin-left: 42%;
}